node-red-flows/node-red.json
[
    {
        "id": "c6771e60.07f86",
        "type": "tab",
        "label": "OPC UA ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b764ad84.c6ba7",
        "type": "tab",
        "label": "MQTT and Login",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f42bd9c9.6a6648",
        "type": "tab",
        "label": "Web Socket and Real Time Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a070d41d.c38d18",
        "type": "tab",
        "label": "Fraunhofer Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca1a3f45.8878",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bd34c916.78e6a8",
        "type": "mqtt-broker",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "e16b2d86.2a633",
        "type": "websocket-client",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "9d8c7c26.b31e1",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "node-red-abf7a",
        "loginType": "none"
    },
    {
        "id": "c1f36f3b.8dca1",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://desktop-674d0i3:62541/DynamicServer",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "6030421b.6a5b4c",
        "type": "ui_tab",
        "z": "",
        "name": "Analog Measurement",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a0b44eea.69f71",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://DESKTOP-674D0I3:48010",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "b4da37da.38d4a8",
        "type": "ui_group",
        "z": 0,
        "name": "MqttResult",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d2421f93.88623",
        "type": "ui_group",
        "z": 0,
        "name": "ParserGroup",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "242fe50a.54ba7a",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0da6ae",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d11f5786.292288",
        "type": "ui_group",
        "z": 0,
        "name": "WebSocket Gauge",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "295db3c5.c09d1c",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e5f9cdab.933b9",
        "type": "ui_group",
        "z": 0,
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "3b838460.97fa8c",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4228b022.ffc59",
        "type": "ui_group",
        "z": 0,
        "name": "Measure",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "45178bb2.542ff4",
        "type": "ui_group",
        "z": 0,
        "name": "Digital Sensor MQTT",
        "tab": "6030421b.6a5b4c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9b8d470.9fab08",
        "type": "ui_group",
        "z": "",
        "name": "Analog Sensor MQTT",
        "tab": "6030421b.6a5b4c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a40d4044.f6df9",
        "type": "ui_group",
        "z": "",
        "name": "Test Sensor",
        "tab": "6030421b.6a5b4c",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "582ca32d.af8e9c",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "742a9943.001558",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "9de1730b.0696e",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "9de1730b.0696e",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "fd78f713.ed8668",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5aafa6ec.ac7b28",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "34d767d5.0e64b8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "34d767d5.0e64b8",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "753fc4e8.291e2c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b1aca0b8.44df9",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9e8741ae.97233",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "bd9ca15b.35b78",
        "type": "websocket-client",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "45595aa9.93d3c4",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "node-red-abf7a",
        "loginType": "none"
    },
    {
        "id": "1ec093a5.ef600c",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://desktop-674d0i3:62541/DynamicServer",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "b4c0afba.f36c7",
        "type": "ui_tab",
        "z": "",
        "name": "Digital Measurement",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "53ae237c.64cd7c",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://DESKTOP-674D0I3:48010",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "80417db5.eccfb",
        "type": "ui_group",
        "z": 0,
        "name": "MqttResult",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f650feb.d183d",
        "type": "ui_group",
        "z": 0,
        "name": "ParserGroup",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2eec78d2.064a98",
        "type": "ui_group",
        "z": 0,
        "name": "WebSocket Gauge",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f816f54d.3e5b98",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e265fb39.0573c8",
        "type": "ui_group",
        "z": 0,
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ac3bb87c.3f8998",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6721632.462068",
        "type": "ui_group",
        "z": 0,
        "name": "Measure",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bdecbb72.736238",
        "type": "ui_group",
        "z": "",
        "name": "Digital Sensor MQTT",
        "tab": "b4c0afba.f36c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eafbb9fc.0ddb88",
        "type": "ui_group",
        "z": "",
        "name": "Fraunhofer Gauge",
        "tab": "4b33e7b7.ec54f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c9574208.d6597",
        "type": "ui_group",
        "z": "",
        "name": "Test Sensor",
        "tab": "b4c0afba.f36c7",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f6bc4223.5136e",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6a1462b.83af39c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "2c0f35c5.e441aa",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "2c0f35c5.e441aa",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "1dc95213.8af4de",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5e24429a.7834dc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5f6af13b.bc7aa",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "5f6af13b.bc7aa",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "a408e244.a15d6",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4b33e7b7.ec54f8",
        "type": "ui_tab",
        "z": "",
        "name": "Fraunhofer Gauge",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "ab2d8e.58d3127",
        "type": "debug",
        "z": "b764ad84.c6ba7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "c9f4a736.f942d8",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "current",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 610,
        "y": 340,
        "wires": [
            [
                "ab2d8e.58d3127",
                "39227c55.39d694"
            ]
        ]
    },
    {
        "id": "4e887f03.0738f",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "CASAtemperatura",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "4e572395.f0966c"
            ]
        ]
    },
    {
        "id": "4e572395.f0966c",
        "type": "debug",
        "z": "b764ad84.c6ba7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "327cc06a.75c5e",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "BCDS/XDK/single/20:19:AB:F4:04:4E/out/stream",
        "qos": "2",
        "broker": "b1aca0b8.44df9",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "f143d3b4.9a6fc"
            ]
        ]
    },
    {
        "id": "f143d3b4.9a6fc",
        "type": "json",
        "z": "b764ad84.c6ba7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "ffdb5ce6.cca97"
            ]
        ]
    },
    {
        "id": "c2a25bff.f0b288",
        "type": "function",
        "z": "b764ad84.c6ba7",
        "name": "",
        "func": "var newMsg = {payload : msg.payload };\nnode.log(\"Nothing happened\")\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "9cbfb869.0f7af8",
        "type": "debug",
        "z": "b764ad84.c6ba7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "7364b350.2d2d3c",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "skkim_cntl/5ccf7f8c1e15/voltage",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "48e67bfd.75c754",
                "d4e51708.05dda8",
                "3b7f434f.3c6d4c"
            ]
        ]
    },
    {
        "id": "3b7f434f.3c6d4c",
        "type": "debug",
        "z": "b764ad84.c6ba7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "48e67bfd.75c754",
        "type": "switch",
        "z": "b764ad84.c6ba7",
        "name": "DebugOrNotify",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "230",
                "vt": "msg"
            },
            {
                "t": "lte",
                "v": "230",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ffdb5ce6.cca97",
        "type": "switch",
        "z": "b764ad84.c6ba7",
        "name": "IsPayloadJson",
        "property": "payload.analyze",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "c2a25bff.f0b288"
            ],
            [
                "9cbfb869.0f7af8"
            ]
        ]
    },
    {
        "id": "1f16492a.91bf87",
        "type": "mqtt in",
        "z": "f42bd9c9.6a6648",
        "name": "",
        "topic": "Craig/Solar/System/Power",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 190,
        "y": 420,
        "wires": [
            [
                "ad48c9d9.25dd58"
            ]
        ]
    },
    {
        "id": "91ffbcf0.426e",
        "type": "inject",
        "z": "f42bd9c9.6a6648",
        "name": "",
        "topic": "",
        "payload": "Hello There",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "ad48c9d9.25dd58"
            ]
        ]
    },
    {
        "id": "ad48c9d9.25dd58",
        "type": "websocket out",
        "z": "f42bd9c9.6a6648",
        "name": "Subscribe",
        "server": "",
        "client": "bd9ca15b.35b78",
        "x": 602.9999847412109,
        "y": 330,
        "wires": []
    },
    {
        "id": "4737dba.d0af624",
        "type": "websocket in",
        "z": "f42bd9c9.6a6648",
        "name": "Publish",
        "server": "",
        "client": "bd9ca15b.35b78",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "5cc6f9d1.ee5df8",
                "e24b2910.b8b868"
            ]
        ]
    },
    {
        "id": "5cc6f9d1.ee5df8",
        "type": "debug",
        "z": "f42bd9c9.6a6648",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "2db0bc52.906154",
        "type": "inject",
        "z": "f42bd9c9.6a6648",
        "name": "",
        "topic": "",
        "payload": "{\"glossaary\":{\"title\":\"example glossary\",\"GlossDiv\":{\"title\":\"S\",\"GlossList\":{\"GlossEntry\":{\"ID\":\"SGML\",\"SortAs\":\"SGML\",\"GlossTerm\":\"Standard Generalized Markup Language\",\"Acronym\":\"SGML\",\"Abbrev\":\"ISO 8879:1986\",\"GlossDef\":{\"para\":\"A meta-markup language, used to create markup languages such as DocBook.\",\"GlossSeeAlso\":[\"GML\",\"XML\"]},\"GlossSee\":\"markup\"}}}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 780,
        "wires": [
            [
                "53c3f0fb.02bdc"
            ]
        ]
    },
    {
        "id": "53c3f0fb.02bdc",
        "type": "firebase modify",
        "z": "f42bd9c9.6a6648",
        "name": "Realtime Database for IoT Injection",
        "firebaseconfig": "45595aa9.93d3c4",
        "childpath": "Data",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 460,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "53ba0ceb.cd77a4",
        "type": "firebase modify",
        "z": "f42bd9c9.6a6648",
        "name": "",
        "firebaseconfig": "45595aa9.93d3c4",
        "childpath": "MQTTData",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 470,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "32f812fc.d5795e",
        "type": "comment",
        "z": "b764ad84.c6ba7",
        "name": "Temperature Sensor",
        "info": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "34fb42ae.de316e",
        "type": "comment",
        "z": "f42bd9c9.6a6648",
        "name": "Add a cable from RobotGuidance to Freebase Database",
        "info": "",
        "x": 460,
        "y": 940,
        "wires": []
    },
    {
        "id": "18447823.d12b58",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "bbcdef/Analog2",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "6ac76535.b80a2c"
            ]
        ]
    },
    {
        "id": "a05d4079.aabcc",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "qwerty/Battery",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "c3cb799f.c64538"
            ]
        ]
    },
    {
        "id": "dd638f56.0a0ad",
        "type": "mqtt in",
        "z": "b764ad84.c6ba7",
        "name": "",
        "topic": "fgbe1300/sensors/room1/pressure",
        "qos": "2",
        "broker": "ca1a3f45.8878",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "96e55e56.46f3e"
            ]
        ]
    },
    {
        "id": "ccbd56e2.3c7ce8",
        "type": "OpcUa-Client",
        "z": "c6771e60.07f86",
        "endpoint": "1ec093a5.ef600c",
        "action": "browse",
        "time": 10,
        "timeUnit": "s",
        "name": "DynamicServer",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "be337f6f.ff162"
            ]
        ]
    },
    {
        "id": "b7902b28.6fcec8",
        "type": "OpcUa-Browser",
        "z": "c6771e60.07f86",
        "endpoint": "1ec093a5.ef600c",
        "item": "",
        "datatype": "",
        "topic": "ns=1",
        "items": [],
        "x": 270,
        "y": 400,
        "wires": [
            [
                "494b9122.20b42",
                "f1c216e7.051a18"
            ]
        ]
    },
    {
        "id": "878fc6be.d6d1e8",
        "type": "OpcUa-Server",
        "z": "c6771e60.07f86",
        "port": "62541",
        "name": "DynamicServer",
        "endpoint": " opc.tcp://desktop-674d0i3:62541/DynamicServer",
        "x": 520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "61e92521.a1046c",
        "type": "inject",
        "z": "c6771e60.07f86",
        "name": "Initialization of Server",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "be337f6f.ff162"
            ]
        ]
    },
    {
        "id": "494b9122.20b42",
        "type": "debug",
        "z": "c6771e60.07f86",
        "name": "OPC UA Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "a8cce589.57cc78",
        "type": "firebase modify",
        "z": "c6771e60.07f86",
        "name": "",
        "firebaseconfig": "45595aa9.93d3c4",
        "childpath": "OPCUAData",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f1c216e7.051a18",
        "type": "function",
        "z": "c6771e60.07f86",
        "name": "",
        "func": "var newMsg = { payload: msg.payload };\n\nvar jsonData = JSON.parse(newMsg);\nfor (var i = 0; i < jsonData.counters.length; i++) {\n    var counter = jsonData.counters[i];\n    \n    \n}\n\n\nreturn JSON.stringify(jsonData[0]) ;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "a8cce589.57cc78"
            ]
        ]
    },
    {
        "id": "5576dd24.523f24",
        "type": "comment",
        "z": "c6771e60.07f86",
        "name": "Dynamic Server Configuration",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "be337f6f.ff162",
        "type": "switch",
        "z": "c6771e60.07f86",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "878fc6be.d6d1e8",
                "b7902b28.6fcec8"
            ]
        ]
    },
    {
        "id": "e24b2910.b8b868",
        "type": "ui_gauge",
        "z": "f42bd9c9.6a6648",
        "name": "Solar Energy",
        "group": "bdecbb72.736238",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Solar Energy",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "39227c55.39d694",
        "type": "ui_gauge",
        "z": "b764ad84.c6ba7",
        "name": "Current Sensor",
        "group": "bdecbb72.736238",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "compass",
        "title": "Current Sensor",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "d4e51708.05dda8",
        "type": "ui_gauge",
        "z": "b764ad84.c6ba7",
        "name": "Voltage Sensor",
        "group": "a9b8d470.9fab08",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Voltage Sensor",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "c3cb799f.c64538",
        "type": "ui_gauge",
        "z": "b764ad84.c6ba7",
        "name": "Battery Sensor",
        "group": "45178bb2.542ff4",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Battery Sensor",
        "label": "",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 1200,
        "wires": []
    },
    {
        "id": "96e55e56.46f3e",
        "type": "ui_gauge",
        "z": "b764ad84.c6ba7",
        "name": "Pressure Sensor",
        "group": "45178bb2.542ff4",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Pressure Sensor",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6ac76535.b80a2c",
        "type": "ui_chart",
        "z": "b764ad84.c6ba7",
        "name": "Analog Sensor",
        "group": "a9b8d470.9fab08",
        "order": 0,
        "width": "",
        "height": "",
        "label": "Analog Sensor",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 540,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7e757a54.1029c4",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/NSHV",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "c93eae74.79f33"
            ]
        ]
    },
    {
        "id": "8d936aec.e693f8",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1230,
        "y": 580,
        "wires": []
    },
    {
        "id": "c93eae74.79f33",
        "type": "json",
        "z": "a070d41d.c38d18",
        "name": "Json Parser",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "179a09b2.f46ca6"
            ]
        ]
    },
    {
        "id": "179a09b2.f46ca6",
        "type": "function",
        "z": "a070d41d.c38d18",
        "name": "",
        "func": "var keys = Object.keys(msg.payload);\nvar msgSecond = {}\n\nvar msgs = keys.map(function(key) {\n    return { topic: key, payload: msg.payload[key] };\n});\n\nmsgSecond.payload=Math.round(Math.random()*100);\nmsgSecond.topic='Test Line';\n\nreturn [msgs, msgSecond];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "e1367fb0.ac97c",
                "a6e52346.2583",
                "8db48f7f.cdcfe"
            ],
            [
                "994333db.d5a79"
            ]
        ]
    },
    {
        "id": "8db48f7f.cdcfe",
        "type": "ui_gauge",
        "z": "a070d41d.c38d18",
        "name": "NSHV",
        "group": "eafbb9fc.0ddb88",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "NSHV",
        "label": "units",
        "format": "{{msg.payload.value}}",
        "min": "-25000",
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "e1367fb0.ac97c",
        "type": "ui_toast",
        "z": "a070d41d.c38d18",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Message Topic",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "994333db.d5a79",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "fccb0178.d8778",
        "type": "inject",
        "z": "a070d41d.c38d18",
        "name": "Test Random Number",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 680,
        "wires": [
            [
                "179a09b2.f46ca6"
            ]
        ]
    },
    {
        "id": "a6e52346.2583",
        "type": "function",
        "z": "a070d41d.c38d18",
        "name": "ReturningFunc",
        "func": "var newMsg = { payload: msg.payload.value };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 560,
        "wires": [
            [
                "8d936aec.e693f8"
            ]
        ]
    },
    {
        "id": "7bbb6003.9d859",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/BDM2000",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "cbce483d.ce76e8"
            ]
        ]
    },
    {
        "id": "cbce483d.ce76e8",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 1100,
        "wires": []
    },
    {
        "id": "772896da.ec4cb8",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/Fliesspressen",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "ffddc97.fa04e38"
            ]
        ]
    },
    {
        "id": "ffddc97.fa04e38",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 1200,
        "wires": []
    },
    {
        "id": "22bac2e4.c3126e",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/GMX_Entgraten",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 440,
        "y": 1260,
        "wires": [
            [
                "4fc1ede2.c03664"
            ]
        ]
    },
    {
        "id": "4fc1ede2.c03664",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 918.12841796875,
        "y": 1300.232666015625,
        "wires": []
    },
    {
        "id": "2e82f1b8.8c7fee",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/GMX_Spanen1",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "8b5a2998.03dda8"
            ]
        ]
    },
    {
        "id": "8b5a2998.03dda8",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 910,
        "y": 1380,
        "wires": []
    },
    {
        "id": "cba65867.2eca28",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/GMX_Spanen2",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 430,
        "y": 1480,
        "wires": [
            [
                "ca11701e.0927a"
            ]
        ]
    },
    {
        "id": "ee35cf4f.0f934",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/GMX_Spanen3",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 430,
        "y": 1560,
        "wires": [
            [
                "4eb9b270.cff2cc"
            ]
        ]
    },
    {
        "id": "2692f19.204830e",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/GMX_Spanen4",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 430,
        "y": 1640,
        "wires": [
            [
                "fdc9730b.d7f35"
            ]
        ]
    },
    {
        "id": "333bd2a2.6d61ce",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/HA100",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 410,
        "y": 1720,
        "wires": [
            [
                "b51ee9f3.343f88"
            ]
        ]
    },
    {
        "id": "de4ef0cf.24fa7",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/Karobau",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 410,
        "y": 1800,
        "wires": [
            [
                "b4d385ff.7ebfa8"
            ]
        ]
    },
    {
        "id": "eb0be682.e0f988",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/PRD40",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 410,
        "y": 1880,
        "wires": [
            [
                "4fd7e064.a5ee9"
            ]
        ]
    },
    {
        "id": "ca11701e.0927a",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4eb9b270.cff2cc",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 1580,
        "wires": []
    },
    {
        "id": "fdc9730b.d7f35",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 1660,
        "wires": []
    },
    {
        "id": "b51ee9f3.343f88",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 1720,
        "wires": []
    },
    {
        "id": "b4d385ff.7ebfa8",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 1820,
        "wires": []
    },
    {
        "id": "4fd7e064.a5ee9",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "14eacb52.c02915",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": " LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/PWZ",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 400,
        "y": 1960,
        "wires": [
            [
                "1ac03f06.7dffe1"
            ]
        ]
    },
    {
        "id": "9fc0f274.1841f",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/Querwalzen",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 400,
        "y": 2040,
        "wires": [
            [
                "b95d002.db5c8"
            ]
        ]
    },
    {
        "id": "3aa3306d.90e5e",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": " LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/E3-Sim/FoFab/Rollex",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 410,
        "y": 2120,
        "wires": [
            [
                "9a948153.8f8a4"
            ]
        ]
    },
    {
        "id": "726b4958.693ac8",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/BHKW",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 380,
        "y": 2200,
        "wires": [
            [
                "acb19233.d5dbd"
            ]
        ]
    },
    {
        "id": "806bf48a.a9f1f8",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": " LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/BHKW/CoolingWater",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 410,
        "y": 2260,
        "wires": [
            [
                "f473afa7.3195b"
            ]
        ]
    },
    {
        "id": "8a4badd6.a246b",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/BHKW/EmergencyCooling",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 440,
        "y": 2320,
        "wires": [
            [
                "c7e74300.c5b01"
            ]
        ]
    },
    {
        "id": "955fa92a.0d8e08",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/BHKW/Generator",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 420,
        "y": 2400,
        "wires": [
            [
                "52fc9309.29b89c"
            ]
        ]
    },
    {
        "id": "1ac03f06.7dffe1",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b95d002.db5c8",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 790,
        "y": 2080,
        "wires": []
    },
    {
        "id": "9a948153.8f8a4",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 2140,
        "wires": []
    },
    {
        "id": "acb19233.d5dbd",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 750,
        "y": 2200,
        "wires": []
    },
    {
        "id": "f473afa7.3195b",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 2240,
        "wires": []
    },
    {
        "id": "c7e74300.c5b01",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 2320,
        "wires": []
    },
    {
        "id": "52fc9309.29b89c",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 850,
        "y": 2380,
        "wires": []
    },
    {
        "id": "7aeb83a5.1092dc",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1450,
        "y": 900,
        "wires": []
    },
    {
        "id": "3d0b7ac8.c6ebe6",
        "type": "json",
        "z": "a070d41d.c38d18",
        "name": "Json Parser",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "73d98187.2d2e6"
            ]
        ]
    },
    {
        "id": "73d98187.2d2e6",
        "type": "function",
        "z": "a070d41d.c38d18",
        "name": "",
        "func": "var keys = Object.keys(msg.payload);\nvar msgSecond = {}\n\nvar msgs = keys.map(function(key) {\n    return { topic: key, payload: msg.payload[key] };\n});\n\nmsgSecond.payload=Math.round(Math.random()*100);\nmsgSecond.topic='Test Line';\n\nreturn [msgs, msgSecond];\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 1080,
        "wires": [
            [
                "7aeb83a5.1092dc",
                "bd3acb11.345478",
                "6a921d2.86b17e4"
            ]
        ]
    },
    {
        "id": "bd3acb11.345478",
        "type": "ui_gauge",
        "z": "a070d41d.c38d18",
        "name": "HeatMeter ",
        "group": "eafbb9fc.0ddb88",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HeatMeter ",
        "label": "units",
        "format": "{{msg.payload.value}}",
        "min": "-25000",
        "max": "300000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1480,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9572fc62.ca1b1",
        "type": "ui_chart",
        "z": "a070d41d.c38d18",
        "name": "HeatMeter Chart",
        "group": "eafbb9fc.0ddb88",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "HeatMeter Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-25000",
        "ymax": "30000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1650,
        "y": 980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6a921d2.86b17e4",
        "type": "function",
        "z": "a070d41d.c38d18",
        "name": "ReturningFunc",
        "func": "var newMsg = { payload: msg.payload.value };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1400,
        "y": 960,
        "wires": [
            [
                "9572fc62.ca1b1"
            ]
        ]
    },
    {
        "id": "a843e1fb.58b69",
        "type": "mqtt in",
        "z": "a070d41d.c38d18",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/BHKW/HeatMeter",
        "qos": "2",
        "broker": "f6bc4223.5136e",
        "x": 280,
        "y": 940,
        "wires": [
            [
                "347dab5f.708c34",
                "3d0b7ac8.c6ebe6"
            ]
        ]
    },
    {
        "id": "347dab5f.708c34",
        "type": "debug",
        "z": "a070d41d.c38d18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 1000,
        "wires": []
    }
]