node-red-flows/node-red.json
[
    {
        "id": "e1fd3ffa.d5077",
        "type": "tab",
        "label": "OPC UA ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cfea63a8.14697",
        "type": "tab",
        "label": "MQTT and Login",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd53151f.a0e1e8",
        "type": "tab",
        "label": "Web Socket and Real Time Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "349ee88.2ce1218",
        "type": "tab",
        "label": "AdrianFlow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "80c0227e.24992",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "af3c9702.ff29a8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "70f20080.67056",
        "type": "websocket-client",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "a1649bc5.dd0968",
        "type": "firebase config",
        "z": "",
        "firebaseurl": "node-red-abf7a",
        "loginType": "none"
    },
    {
        "id": "6d6a1e14.51517",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://desktop-674d0i3:62541/DynamicServer",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "3d8ca6a7.17f07a",
        "type": "ui_tab",
        "z": "",
        "name": "Measurement",
        "icon": "dashboard"
    },
    {
        "id": "22c962a2.db0cae",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://DESKTOP-674D0I3:48010",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "a7e38f85.a7491",
        "type": "ui_group",
        "z": 0,
        "name": "MqttResult",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f57304.cf29ed",
        "type": "ui_group",
        "z": 0,
        "name": "ParserGroup",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9e1b3780.a635a8",
        "type": "ui_base",
        "z": 0,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0da6ae",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5d43faf5.c81c14",
        "type": "ui_group",
        "z": 0,
        "name": "WebSocket Gauge",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "76a70193.13eff",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9e762d10.ce9b5",
        "type": "ui_group",
        "z": 0,
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b82dfbf.814e508",
        "type": "ui_group",
        "z": 0,
        "name": "Login",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de9acc4.395a13",
        "type": "ui_group",
        "z": 0,
        "name": "Measure",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "26f1007.53e9c",
        "type": "ui_group",
        "z": 0,
        "name": "Digital Sensor MQTT",
        "tab": "3d8ca6a7.17f07a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4452a960.484348",
        "type": "ui_group",
        "z": 0,
        "name": "Analog Sensor MQTT",
        "tab": "3d8ca6a7.17f07a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "916f2e06.0c7cf",
        "type": "ui_group",
        "z": "",
        "name": "Test Sensor",
        "tab": "3d8ca6a7.17f07a",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13a47849.8bfe88",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1e91c0c8.082ccf",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d610dd72.7c021",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d610dd72.7c021",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4e76a6e7.e4fab8",
        "type": "mqtt-broker",
        "z": "",
        "name": "linkedfactory",
        "broker": "linkedfactory.iwu.fraunhofer.de",
        "port": "8883",
        "clientid": "w7ws0392-node-red",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "23566f5a.08fbc",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "b6c1c9c6.abd678",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b6c1c9c6.abd678",
        "type": "ui_tab",
        "z": "",
        "name": "mqtt-tab",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "60bf080.86258f8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a0217028.8fd54",
        "type": "debug",
        "z": "cfea63a8.14697",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "5a9def24.a660e",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "fgbe1300/sensors/room1/humidity",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "a0217028.8fd54",
                "8941d25f.562f3"
            ]
        ]
    },
    {
        "id": "a75be82a.a0b1f8",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "CASAtemperatura",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "dca02b2c.fb3888"
            ]
        ]
    },
    {
        "id": "dca02b2c.fb3888",
        "type": "debug",
        "z": "cfea63a8.14697",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "cc39e556.b452c8",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "BCDS/XDK/single/20:19:AB:F4:04:4E/out/stream",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "c7d7d749.bd2dd8"
            ]
        ]
    },
    {
        "id": "c7d7d749.bd2dd8",
        "type": "json",
        "z": "cfea63a8.14697",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "bcf00577.230ea8"
            ]
        ]
    },
    {
        "id": "95ad5d29.2e427",
        "type": "function",
        "z": "cfea63a8.14697",
        "name": "",
        "func": "var newMsg = {payload : msg.payload };\nnode.log(\"Nothing happened\")\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "74406eec.934d6",
        "type": "debug",
        "z": "cfea63a8.14697",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "8fcee958.226168",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "Gooee/Floor1/Energy/L1Voltage",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "6853ba1e.afe904",
                "2077f305.eb55ec"
            ]
        ]
    },
    {
        "id": "4f87a2a.42dd35c",
        "type": "debug",
        "z": "cfea63a8.14697",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 900,
        "wires": []
    },
    {
        "id": "6853ba1e.afe904",
        "type": "switch",
        "z": "cfea63a8.14697",
        "name": "DebugOrNotify",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "230",
                "vt": "msg"
            },
            {
                "t": "lte",
                "v": "230",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "4f87a2a.42dd35c"
            ],
            []
        ]
    },
    {
        "id": "bcf00577.230ea8",
        "type": "switch",
        "z": "cfea63a8.14697",
        "name": "IsPayloadJson",
        "property": "payload.analyze",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "95ad5d29.2e427"
            ],
            [
                "74406eec.934d6"
            ]
        ]
    },
    {
        "id": "364263c6.e2996c",
        "type": "mqtt in",
        "z": "bd53151f.a0e1e8",
        "name": "",
        "topic": "RobotGuidance",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "85ee2b43.4ef438"
            ]
        ]
    },
    {
        "id": "548fad94.0356e4",
        "type": "inject",
        "z": "bd53151f.a0e1e8",
        "name": "",
        "topic": "",
        "payload": "Hello There",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "85ee2b43.4ef438"
            ]
        ]
    },
    {
        "id": "85ee2b43.4ef438",
        "type": "websocket out",
        "z": "bd53151f.a0e1e8",
        "name": "Subscribe",
        "server": "",
        "client": "70f20080.67056",
        "x": 602.9999847412109,
        "y": 330,
        "wires": []
    },
    {
        "id": "b529c902.151578",
        "type": "websocket in",
        "z": "bd53151f.a0e1e8",
        "name": "Publish",
        "server": "",
        "client": "70f20080.67056",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "e40e60e3.a1a22",
                "ea7cd53b.664fb8"
            ]
        ]
    },
    {
        "id": "e40e60e3.a1a22",
        "type": "debug",
        "z": "bd53151f.a0e1e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "38540269.5f4fde",
        "type": "inject",
        "z": "bd53151f.a0e1e8",
        "name": "",
        "topic": "",
        "payload": "{\"glossaary\":{\"title\":\"example glossary\",\"GlossDiv\":{\"title\":\"S\",\"GlossList\":{\"GlossEntry\":{\"ID\":\"SGML\",\"SortAs\":\"SGML\",\"GlossTerm\":\"Standard Generalized Markup Language\",\"Acronym\":\"SGML\",\"Abbrev\":\"ISO 8879:1986\",\"GlossDef\":{\"para\":\"A meta-markup language, used to create markup languages such as DocBook.\",\"GlossSeeAlso\":[\"GML\",\"XML\"]},\"GlossSee\":\"markup\"}}}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 780,
        "wires": [
            [
                "44cd601a.9d616"
            ]
        ]
    },
    {
        "id": "44cd601a.9d616",
        "type": "firebase modify",
        "z": "bd53151f.a0e1e8",
        "name": "Realtime Database for IoT Injection",
        "firebaseconfig": "a1649bc5.dd0968",
        "childpath": "Data",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 460,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "562d3799.6f4268",
        "type": "firebase modify",
        "z": "bd53151f.a0e1e8",
        "name": "",
        "firebaseconfig": "a1649bc5.dd0968",
        "childpath": "MQTTData",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 470,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "2deb9741.2eb238",
        "type": "comment",
        "z": "cfea63a8.14697",
        "name": "Temperature Sensor",
        "info": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c32c562.47d8fc",
        "type": "comment",
        "z": "bd53151f.a0e1e8",
        "name": "Add a cable from RobotGuidance to Freebase Database",
        "info": "",
        "x": 460,
        "y": 940,
        "wires": []
    },
    {
        "id": "954d8361.02b6e",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "bbcdef/Analog2",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "84d2d67d.4f33d8"
            ]
        ]
    },
    {
        "id": "f4fa5db6.e2581",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "qwerty/Battery",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "3003e14f.595a9e"
            ]
        ]
    },
    {
        "id": "d06b1b17.94b758",
        "type": "mqtt in",
        "z": "cfea63a8.14697",
        "name": "",
        "topic": "fgbe1300/sensors/room1/pressure",
        "qos": "2",
        "broker": "80c0227e.24992",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "f7144869.8250b8"
            ]
        ]
    },
    {
        "id": "6b3dc314.a1e1fc",
        "type": "OpcUa-Client",
        "z": "e1fd3ffa.d5077",
        "endpoint": "6d6a1e14.51517",
        "action": "browse",
        "time": 10,
        "timeUnit": "s",
        "name": "DynamicServer",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "8af20b85.924948"
            ]
        ]
    },
    {
        "id": "a0bc1d4f.ad5db",
        "type": "OpcUa-Browser",
        "z": "e1fd3ffa.d5077",
        "endpoint": "6d6a1e14.51517",
        "item": "",
        "datatype": "",
        "topic": "ns=1",
        "items": [],
        "x": 270,
        "y": 400,
        "wires": [
            [
                "b35ac66.7e9b938",
                "afda321a.892c"
            ]
        ]
    },
    {
        "id": "4af38a66.260244",
        "type": "OpcUa-Server",
        "z": "e1fd3ffa.d5077",
        "port": "62541",
        "name": "DynamicServer",
        "endpoint": " opc.tcp://desktop-674d0i3:62541/DynamicServer",
        "x": 520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "30ad9b0f.60bad4",
        "type": "inject",
        "z": "e1fd3ffa.d5077",
        "name": "Initialization of Server",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "8af20b85.924948"
            ]
        ]
    },
    {
        "id": "b35ac66.7e9b938",
        "type": "debug",
        "z": "e1fd3ffa.d5077",
        "name": "OPC UA Log",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "ee0ab71a.7c75e8",
        "type": "firebase modify",
        "z": "e1fd3ffa.d5077",
        "name": "",
        "firebaseconfig": "a1649bc5.dd0968",
        "childpath": "OPCUAData",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "afda321a.892c",
        "type": "function",
        "z": "e1fd3ffa.d5077",
        "name": "",
        "func": "var newMsg = { payload: msg.payload };\n\nvar jsonData = JSON.parse(newMsg);\nfor (var i = 0; i < jsonData.counters.length; i++) {\n    var counter = jsonData.counters[i];\n    \n    \n}\n\n\nreturn JSON.stringify(jsonData[0]) ;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "ee0ab71a.7c75e8"
            ]
        ]
    },
    {
        "id": "f5fb6c89.97be4",
        "type": "comment",
        "z": "e1fd3ffa.d5077",
        "name": "Dynamic Server Configuration",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "8af20b85.924948",
        "type": "switch",
        "z": "e1fd3ffa.d5077",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "4af38a66.260244",
                "a0bc1d4f.ad5db"
            ]
        ]
    },
    {
        "id": "ea7cd53b.664fb8",
        "type": "ui_gauge",
        "z": "bd53151f.a0e1e8",
        "name": "Web Socket Gauge",
        "group": "26f1007.53e9c",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "8941d25f.562f3",
        "type": "ui_gauge",
        "z": "cfea63a8.14697",
        "name": "Humidity Sensor",
        "group": "26f1007.53e9c",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "2077f305.eb55ec",
        "type": "ui_gauge",
        "z": "cfea63a8.14697",
        "name": "Voltage Sensor",
        "group": "4452a960.484348",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Voltage Sensor",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "3003e14f.595a9e",
        "type": "ui_gauge",
        "z": "cfea63a8.14697",
        "name": "Battery Sensor",
        "group": "4452a960.484348",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Battery Sensor",
        "label": "",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f7144869.8250b8",
        "type": "ui_gauge",
        "z": "cfea63a8.14697",
        "name": "Pressure Sensor",
        "group": "26f1007.53e9c",
        "order": 0,
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 1280,
        "wires": []
    },
    {
        "id": "84d2d67d.4f33d8",
        "type": "ui_chart",
        "z": "cfea63a8.14697",
        "name": "Analog Sensor",
        "group": "4452a960.484348",
        "order": 0,
        "width": "",
        "height": "",
        "label": "Analog Sensor",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 540,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d154c183.d46ee",
        "type": "mqtt in",
        "z": "349ee88.2ce1218",
        "name": "",
        "topic": "LF/E/linkedfactory.iwu.fraunhofer.de/linkedfactory/IWU/FoFab/NSHV",
        "qos": "2",
        "broker": "13a47849.8bfe88",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "be59e6a2.5126b8"
            ]
        ]
    },
    {
        "id": "385b136.a6b77ec",
        "type": "debug",
        "z": "349ee88.2ce1218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "be59e6a2.5126b8",
        "type": "json",
        "z": "349ee88.2ce1218",
        "name": "Json Parser",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 670,
        "y": 420,
        "wires": [
            [
                "ea9c6068.918e3"
            ]
        ]
    },
    {
        "id": "ea9c6068.918e3",
        "type": "function",
        "z": "349ee88.2ce1218",
        "name": "",
        "func": "var keys = Object.keys(msg.payload);\nvar msgSecond = {}\n\nvar msgs = keys.map(function(key) {\n    return { topic: key, payload: msg.payload[key] };\n});\n\nmsgSecond.payload=Math.round(Math.random()*100);\nmsgSecond.topic='Test Line';\n\nreturn [msgs, msgSecond];\n",
        "outputs": 2,
        "noerr": 0,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "385b136.a6b77ec",
                "528076f0.f9ceb8",
                "7c6b459f.26489c",
                "962d92da.e1c6e"
            ],
            [
                "526ad582.af8a0c",
                "577cc890.f36248"
            ]
        ]
    },
    {
        "id": "528076f0.f9ceb8",
        "type": "ui_gauge",
        "z": "349ee88.2ce1218",
        "name": "Fraunhofer Sensor",
        "group": "26f1007.53e9c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Fraunhofer Sensor",
        "label": "units",
        "format": "{{msg.payload.value}}",
        "min": "-25000",
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "577cc890.f36248",
        "type": "ui_chart",
        "z": "349ee88.2ce1218",
        "name": "",
        "group": "4452a960.484348",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-25000",
        "ymax": "20000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1130,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7c6b459f.26489c",
        "type": "ui_toast",
        "z": "349ee88.2ce1218",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "Message Topic",
        "x": 990,
        "y": 760,
        "wires": []
    },
    {
        "id": "526ad582.af8a0c",
        "type": "debug",
        "z": "349ee88.2ce1218",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "fc8becf.a9df21",
        "type": "inject",
        "z": "349ee88.2ce1218",
        "name": "",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "ea9c6068.918e3"
            ]
        ]
    },
    {
        "id": "962d92da.e1c6e",
        "type": "function",
        "z": "349ee88.2ce1218",
        "name": "ReturningFunc",
        "func": "var newMsg = { payload: msg.payload.value };\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "577cc890.f36248"
            ]
        ]
    }
]
